<mat-card>
  <!-- {nome : "Ana", fone : "5555555555", email : "ana@email.com"} -->
  <!-- clienteform = {nome : "Ana", fone : "5555555555", email : "ana@email.com"} -->
  <form (submit)="onAdicionarCliente(clienteForm)" #clienteForm="ngForm">

    <mat-form-field appearance="fill">
      <mat-label>Digite o nome</mat-label>
      <input matInput type="text" ngModel name="nome" required minlength="4" #nomeInput>
      <button
          *ngIf="nomeInput.value"
          matSuffix
          mat-icon-button
          (click)="nomeInput.value=''">

          <mat-icon>close</mat-icon>

      </button>
      <mat-error>Digite um nome valido!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Digite o fone</mat-label>
      <input matInput type="text" ngModel name="fone" required #foneInput>
      <button
          *ngIf="foneInput.value"
          matSuffix
          mat-icon-button
          (click)="foneInput.value=''">
          <mat-icon>close</mat-icon>
      </button>
      <mat-error>Digite um telefone valido!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Digite o e-mail</mat-label>
      <input matInput type="text" ngModel name="email" required #emailInput>
      <button
          *ngIf="emailInput.value"
          matSuffix
          mat-icon-button
          (click)="emailInput.value=''">
          <mat-icon>close</mat-icon>
      </button>
      <mat-error>Digite um email valido!</mat-error>
    </mat-form-field>

    <button color="primary" mat-raised-button>Inserir cliente</button>
  </form>


</mat-card>
